* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.grid {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.container {
    font-size: 0;
    background: aliceblue;
    width: 518px;
    height: 518px;
    border: 3px solid black;
}

.box {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid grey;
}

.boxTransform {
    width: 8px;
    height: 8px;
}

.colorChange {
    background: black;
}

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 64px;
}